<!DOCTYPE html>
<html>
  <head>
    <title>PoteShare</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
<header>
  <div class="header-inner">
    <div class="header-left-nav">
  <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png", alt: "サンプル画像"), '/' %>
 

 <div class = "header-search">
   <%= search_form_for @q ,url: post_search_room_path do |f| %>
                               
                               <%= f.search_field :area_cont ,placeholder: 'エリア'%>

                              
                               <% end %>
                               
 </div>
 <div class = "header-search">
   <%= search_form_for @q ,url: post_search_room_path do |f| %>
                              
                               <%= f.search_field :area_or_title_or_comment_cont,placeholder: 'キーワード'%>

                               
                               <% end %>
 </div>
  </div>
 <div class="header-right-nav">
   　
  

<div class="nav-item">
  <label for="label1">メニュー</label>
 <input type="checkbox" id="label1" class="switch" />
        <img class="mx-3 p-1 host-icon nav-trigger" alt="メニュー" src="/uploads/user/image/836/%E3%82%B9%E3%82%AF%E3%83%AA%E3%83%BC%E3%83%B3%E3%82%B7%E3%83%A7%E3%83%83%E3%83%88_2021-09-12_5.40.10_2_.png" />
        <ul class="header-nav-menu">
          <li><%= link_to "ルーム登録",new_post_path %></li>
          <li><%= link_to "予約済みルーム一覧",reserve_reserved_path,class:'link' %></li>
          <li><%= link_to "登録済みルーム一覧",post_posts_path,class:'link' %></li>
          <li><%= link_to "設定", post_show_path,class:'link' %></li>
          <li><%= link_to "新規登録",new_user_registration_path,class:'link' %></li>
          <li><a rel="nofollow" data-method="delete" href="/users/sign_out">ログアウト</a></li>
        </ul>
       
      </div>
 </div>
  </div>
  <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
</header>
  
    <%= yield %>
    <footer><p>© 2020 POTEPAN.INC.</p></footer>
  </body>
</html>
