<div class='confirm'>
 
<div class='confirm-in'>
        <h5>予約内容確認</h5>
        <div class = 'confirm-price'>¥<%= @room.price %>/ 日</div>
        
       <div>
        <p>開始日</p>
        <div class = 'confirm-date'>
        <%= @reserve.start.to_s(:datetime_jp) %></div>
        </div>
        
        <div>
          <p>終了日</p>
          <div class = 'confirm-date'>
         <%= @reserve.end.to_s(:datetime_jp) %></div>
       </div>
       
        <div class = 'confirm-day-people'>使用日数:<%= @day %></div>
       
         <div class = 'confirm-day-people'>人数:<%= @reserve.people %></div>
       
       <div>
          <p>合計金額</p>
        <div class = 'confirm-price'> <%= @price %></div>
        <p>上記内容でよろしければ「予約を確定」を押してください</p>
     </div> 
     
     <div class = 'confirm-form'>
<%= form_for @reserve, method: :post, url: reserve_comprete_path(@reserve) do |f| %>
	<%= f.hidden_field :price,value: @price%>
    	<%= f.hidden_field :title ,value: @room.title%>
    	<%= f.hidden_field :area ,value: @room.area%>   	
    	<%= f.hidden_field :comment,value: @room.comment %>
    	<%= f.hidden_field :roomid,value: @room.id %>
     <%= f.hidden_field :start ,value: @reserve.start%>   	
    	<%= f.hidden_field :end,value: @reserve.end %>
     <%= f.hidden_field :people,value: @reserve.people %>
     
	    <%= f.submit '予約を確定' ,class:'submit'%>
<% end %>

 <%= form_for @reserve, method: :post, url: reserve_back_path(@room) do |f| %>
	<%= f.hidden_field :price,value: @price%>
    	<%= f.hidden_field :title ,value: @room.title%>
    	<%= f.hidden_field :area ,value: @room.area%>   	
    	<%= f.hidden_field :comment,value: @room.comment %>
    	
             <%= f.hidden_field :start ,value: @reserve.start%>   	
    	<%= f.hidden_field :end,value: @reserve.end %>
<%= f.hidden_field :people,value: @reserve.people %>
       
	<%= f.submit 'ルーム詳細に戻る',class:'submit cback' %>
<% end %>
</div>
</div>
</div>
    