 <% @reserve.each do |share| %>
  <table>
  <tr>
            <th>ルーム画像</th>
            <th>ルーム名</th>
            <th>ルーム紹介</th>
            <th>合計料金	</th>
            <th>開始日	</th>
            <th>終了日	</th>
            <th>予約確定日時</th>
            </td>
          <tr>
            
            <td>
              
          </td>
            <td><%= share.title %></td>
            <td><%= share.comment %></td>
            <td><%= share.price%></td>
            <td><%= share.start %></td>
            <td><%= share.end%></td>
            <td><%= share.updated_at.strftime("%Y年%m月%d日%-H時%M分")%></td>
            </td>
            
           </table>
           
           <% end %>
  