    <div class = 'room'>
   
    <div class = 'room-left'>
      
     <div><%= image_tag @share.image.url,height:'450px' ,width:'650px'%></div>
        
        
        <div class= 'stmi'>
        <%= link_to image_tag("https://presite-potepancamp-rails-02.herokuapp.com/assets/default_icon-9263fc59c414b7228d256fc178dcb22183561357950a68f5ad086ba7ee054974.jpg",class:"mx-3 p-1 host-icon nav-trigger roomss"),"/"%>
        
        
        <div>
        
         <div class= 'rooms aa'><%= @share.title %></div>
        
         <div class= 'rooms aa'><%= @share.area %></div>
        
       </div>
       
       </div>
       <div class ='sstt'>
         
        <div class= 'rooms'><%= @share.comment %></div>
      </div>
       
     
 
  </div>

   
      <div class = 'room-right'>
         <%= form_for @reserve, method: :post, url: reserve_confirm_path(@share) do |f| %>
         
           
             <h3>¥<%= @share.price %>/ 日</h3>
            
     
            <div class='date'>
        <%= f.label :start ,"開始日" %></br>
        <%= f.date_field :start,class:'date-field'%>
       </div>
 
        <div class='date'>
          <%= f.label :end ,"終了日" %></br>
          <%= f.date_field :end,class:'date-field'%></div>
       
        
     <div class='date'>
       <%= f.label :people ,"人数" %></br>
       <%= f.number_field :people,class:'date-field'%></div>
       
       
        <%= f.hidden_field :price,value: @share.price%>
    	<%= f.hidden_field :title ,value: @share.title%>
    	<%= f.hidden_field :area ,value: @share.area%>   	
    	<%= f.hidden_field :comment,value: @share.comment %>
    	<%= f.hidden_field :roomid,value: @share.id%>
         
      
     
	     <div><%= f.submit "予約する",class:'submit' %></div>
       </div>
        
        
<%end%>
 
 </div>