<div class="container-fiuld room">
  <h1 class="pb-4">検索結果：<%=@count%>件</h1>
  <div class="row">
  <% @search.each do |share| %>
  
   <div class="room-frame-inner">
    <%= link_to reserve_room_path(share) do %>
          <div class="room-image-out">
            <% if share.image.url%>
              <%= image_tag share.image.url ,width: "330px",height: "180px" %>
            <%else%>
             <p>画像がありません</p>
            <%end%>
          </div>
          <div class = 'down'>
            <p class = 'search-title'><%= share.title %></p>
            <p class = 'search-area'><%= share.area %></p>
            <p class = 'search-price'>¥<%= share.price%></p>
          </div>
    <% end %>
   </div>  
  <% end%>
 </div>
</div>



